@model MVC.Models.Product
@{
    Layout = null;
}
<link type="text/css" rel="stylesheet" href="~/Content/Login.css" />
<link type="text/css" rel="stylesheet" href="~/Content/head.css" />
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>

<body  style="align-content:center;text-align:center; -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;  -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top:-50px;font-family: 'Lucida Sans Unicode';color:black">
    <div class="banner" style="align-content:center;text-align:center;margin:10px;">
        <h3 >Vendor's View</h3>
    </div>
        <div class="shaddowsignup">
            <h2 style="color:black;font-size:300%">add product</h2>
        </div>
   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="grid" style="text-align:center">


                    <div class="form login">


                        <script src="~/JS/products.js" text="text/javascript"></script>

                        <div class="form__field">



                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "productName", oninvalid = "InvalidProductName(this);", type = "text", name = "productname", @class = "form__input", placeholder = "product name", required = "required" } })
                            @*                @Html.ValidationMessageFor(model => model.username, null, new {@style = "color:red;"})*@
                        </div>

                        <div class="form__field">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { id = "price", oninvalid = "InvalidProductName(this);", type = "text", name = "price", @class = "form__input", placeholder = "price", required = "required" } })
                            @*                @Html.ValidationMessageFor(model => model.username, null, new {@style = "color:red;"})*@

                        </div>
                        <div class="form__field">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { id = "quantity", type = "text", name = "price", @class = "form__input", placeholder = "quantity ", required = "required" } })

                        </div>
                        <div class="form__field">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { id = "description", oninvalid = "InvalidProductName(this);", type = "text", name = "description", @class = "form__input", placeholder = "description", required = "required" } })

                        </div>





                        <div class="form__field" style="text-align:center">
                            <input type="file" style="align-content:center;text-align:center;margin-left:140px" name="file" id="file" />
                        </div>

                        <div class="form__field" style="background: #188FFF;">
                            <input type="submit" value="add" id="submitbtn" style="background:#188FFF;">
                        </div>



                    </div>
                </div>
            }

</body>

</html>