@model MVC.Models.Product
@{
    Layout = null;
}
<link type="text/css" rel="stylesheet" href="~/Content/Login.css" />
<link type="text/css" rel="stylesheet" href="~/Content/head.css" />
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AAA;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ededed;
}
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body  style="align-content:center;text-align:center; -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;  -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top:-50px;font-family: 'Lucida Sans Unicode';color:black">
    <div class="banner" style="align-content:center;text-align:center;margin:10px;">
        <h3 >Vendor's View</h3>
    </div>
        
    <ul>
        <li><a class="active" href="#home" id="addBtn">Add</a></li>
        <li><a href="#news">View</a></li>
        <li><a href="#contact">Update</a></li>
        <li><a href="#about">Delete</a></li>
    </ul>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="~/JS/products.js" text="text/javascript"></script>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="grid" style="text-align:center">


                    <div class="form login" id="addDiv" style="display:none;" >


                        <div class="form__field">



                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "productName", oninvalid = "InvalidProductName(this);", type = "text", name = "productname", @class = "form__input", placeholder = "product name", required = "required" } })
                            @*                @Html.ValidationMessageFor(model => model.username, null, new {@style = "color:red;"})*@
                        </div>

                        <div class="form__field">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { id = "price", oninvalid = "InvalidProductName(this);", type = "text", name = "price", @class = "form__input", placeholder = "price", required = "required" } })
                            @*                @Html.ValidationMessageFor(model => model.username, null, new {@style = "color:red;"})*@

                        </div>
                        <div class="form__field">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { id = "quantity", type = "text", name = "price", @class = "form__input", placeholder = "quantity ", required = "required" } })

                        </div>
                        <div class="form__field">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { id = "description", oninvalid = "InvalidProductName(this);", type = "text", name = "description", @class = "form__input", placeholder = "description", required = "required" } })

                        </div>





                        <div class="form__field" style="text-align:center">
                            <input type="file" style="align-content:center;text-align:center;margin-left:140px" name="file" id="file" />
                        </div>

                        <div class="form__field" style="background: #188FFF;">
                            <input type="submit" value="add" id="submitbtn" style="background:#188FFF;">
                        </div>



                    </div>
                </div>
            }
            <script type="text/javascript">

                $(document).ready(function () {


                    $('#addBtn').click(function(){

                        $('#addDiv').show(1000);
                    })
                })
            </script>
</body>

</html>