@model MVC.Models.Vendor

@{
    Layout = null;
}
<link type="text/css" rel="stylesheet" href="~/Content/stylesheet.css"/>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>vendorSignUp</title>
</head>
<body style="background: #F9F9FA;">
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="shaddowsignup">
            <img style="width: 100px; height: 100px; float: left; margin-left: 20px;" src="@Url.Content("~/images/NS1.png")"/>
            <h2 style="color: #EE4522; float: left; margin-left: -25px; margin-top: 43px; font-size: 150%;">Neutron Store.</h2>
        </div>

        <div class="signup" style="text-align: center;">

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})


            @Html.EditorFor(model => model.CompanyName, new {htmlAttributes = new {placeholder = "Company name", @class = "textBoxes"}})
            @Html.ValidationMessageFor(model => model.CompanyName, null, new { @style = "color:red;" })


            <br/>
            <br/>

            @Html.EditorFor(model => model.OwnerName, new {htmlAttributes = new {placeholder = "Owner name", @class = "textBoxes"}})
            @Html.ValidationMessageFor(model => model.OwnerName, null, new { @style = "color:red;" })




            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {placeholder = "Enter your emil", @class = "textBoxes"}})
            @Html.ValidationMessageFor(model => model.Email , null, new { @style = "color:red;" })




            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {placeholder = "Password", @class = "textBoxes", @type = "password"}})
            @Html.ValidationMessageFor(model => model.Password, null, new { @style = "color:red;" })
            <br/>
            <br/>
            @Html.EditorFor(model => model.Address, new {htmlAttributes = new {placeholder = "Address", @class = "textBoxes",}})
            @Html.ValidationMessageFor(model => model.Password, null, new { @style = "color:red;" })


            <br/><br/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="signupbtn"/>
                </div>
            </div>
            <br/>

        </div>


    </div>
}

</body>


</html>