@model IEnumerable<MVC.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div style="background:#56bc8a">
    <link type="text/css" rel="stylesheet" href="~/Content/Products/View.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Products/SideBar.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <div style="float:left;margin-left:60px;margin-top:20px;display:none;" id="imgDiv">

        <img src="@Url.Action("GetImage", "Home", new { id = int.Parse(Session["VendorId"].ToString())})" style="height:150px;width:100px" />
        <br />


    </div>
    <div class="container">
        <div id="sidebar">
            <ul>

                <li>@Html.ActionLink("Home", "MainPage", "Home")</li>
                <li>@Html.ActionLink("store", "MainPage", "Home")</li>
                <li><a href="#">Users</a></li>
                <li>@Html.ActionLink("Log out", "MainPage", "Home")</li>
            </ul>
        </div>
        <div class="main-content">
            <div class="swipe-area"></div>
            <a href="#" data-toggle=".main-content" id="sidebar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="content">
                <h1 style="color:#56bc8a"> a</h1>

                <div class="wrapper">
                    <div class="view">
                        <p>View as:</p>
                        <a href="#" class="icon-grid"></a>
                        <a href="#" class="icon-list"></a>

                    </div>

                    <div class="products category">
                        <ul class="">


                            @foreach (var item in Model)
                            {

                            <li>
                                <div class="wrapimg">

                                    @{

                                        var base64 = Convert.ToBase64String(item.PImage);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


                                    }
                                    <img src="@Url.Content(imgSrc)" height="240" width="220" />

                                    <div class="addPro">

                                        @Html.ActionLink("Edit", "Edit", new { id = item.Pid }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Pid }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Pid })
                                    </div>
                                </div>


                                <div class="titlePro">
                                    <a href="javascript:;">@item.PName</a>
                                    <span>$@item.Price</span>

                                    <p class="descTitle">Detailed item information</p>
                                    <p>|@item.Description</p>
                                </div>
                            </li>




                                        }
                        </ul>
                    </div>
                </div>

                <div class="large"></div>

                <div class="large">Some other random content</div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle]").click(function () {
                var toggle_el = $(this).data("toggle");
                $(toggle_el).toggleClass("open-sidebar");
                $('#sidebar').toggleClass('change-sidebar');
                $("#imgDiv").toggle();
            });

        });
    </script>
</div>